@charset "utf-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Pretendard-Regular';
}
input {
    display: none;
}

/*전체화면 설정*/
.lunaPreview {
    width: 860px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 30px;
}
.lunaPreview img {
    vertical-align: middle;
    height: 18px;
}
.lunaPreview h4 {
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
    vertical-align: middle;
    margin-left: 5px;
}
.lunaPreview p {
    box-sizing: content-box;
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    background-color: #ccc;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    transition: width 0.5s;
    overflow: hidden;
    float: right;
}
.lunaPreview p:hover {
    width: 400px;
}
.lunaPreview p:hover strong {
    display: none;
}
.lunaPreview p span {
    font-size: 14px;
}

/*미리보기 비주얼*/
.previewVisual {
    width: 860px;
    height: 483.75px;
    position: relative;
    margin-top: 15px;
}
.previewVisual img {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0%;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s;
}

#black:checked ~ #small:checked ~ #basic:checked ~ .previewVisual img:nth-child(1) {
    opacity: 1;
}
#black:checked ~ #middle:checked ~ #basic:checked ~ .previewVisual img:nth-child(2) {
    opacity: 1;
}
#black:checked ~ #large:checked ~ #basic:checked ~ .previewVisual img:nth-child(3) {
    opacity: 1;
}
#black:checked ~ #small:checked ~ #curve:checked ~ .previewVisual img:nth-child(4) {
    opacity: 1;
}
#black:checked ~ #middle:checked ~ #curve:checked~ .previewVisual img:nth-child(5) {
    opacity: 1;
}
#black:checked ~ #large:checked ~ #curve:checked ~ .previewVisual img:nth-child(6) {
    opacity: 1;
}
#white:checked ~ #small:checked ~ #basic:checked ~ .previewVisual img:nth-child(7) {
    opacity: 1;
}
#white:checked ~ #middle:checked ~ #basic:checked ~ .previewVisual img:nth-child(8) {
    opacity: 1;
}
#white:checked ~ #large:checked ~ #basic:checked ~ .previewVisual img:nth-child(9) {
    opacity: 1;
}
#white:checked ~ #small:checked ~ #curve:checked ~ .previewVisual img:nth-child(10) {
    opacity: 1;
}
#white:checked ~ #middle:checked ~ #curve:checked~ .previewVisual img:nth-child(11) {
    opacity: 1;
}
#white:checked ~ #large:checked ~ #curve:checked ~ .previewVisual img:nth-child(12) {
    opacity: 1;
}
#pink:checked ~ #small:checked ~ #curve:checked ~ .previewVisual img:nth-child(13) {
    opacity: 1;
}
#pink:checked ~ #middle:checked ~ #curve:checked~ .previewVisual img:nth-child(14) {
    opacity: 1;
}
#pink:checked ~ #large:checked ~ #curve:checked ~ .previewVisual img:nth-child(15) {
    opacity: 1;
}
#pink:checked ~ #small:checked ~ #basic:checked ~ .previewVisual img:last-child {
    opacity: 1;
}
#pink:checked ~ #middle:checked ~ #basic:checked ~ .previewVisual img:last-child {
    opacity: 1;
}
#pink:checked ~ #large:checked ~ #basic:checked ~ .previewVisual img:last-child {
    opacity: 1;
}
#small:checked ~ #legBlack:checked ~ .previewVisual img:nth-child(16) {
    opacity: 1;
}
#middle:checked ~ #legBlack:checked ~ .previewVisual img:nth-child(17) {
    opacity: 1;
}
#large:checked ~ #legBlack:checked ~ .previewVisual img:nth-child(18) {
    opacity: 1;
}
#small:checked ~ #legWhite:checked ~ .previewVisual img:nth-child(19) {
    opacity: 1;
}
#middle:checked ~ #legWhite:checked ~ .previewVisual img:nth-child(20) {
    opacity: 1;
}
#large:checked ~ #legWhite:checked ~ .previewVisual img:nth-child(21) {
    opacity: 1;
}




/*상판선택 옵션(상판색상)*/
.deskTopOption strong {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.deskTopOption ul.deskTopColor {
    width: 860px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.deskTopOption ul.deskTopColor li {
    width: 95px;
    height: 100px;
    background-color: #e4e4e4;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
    color: #999;
    transition: all 0.3s;
}
.deskTopOption ul.deskTopColor li:hover {
    background-color: rgb(69, 119, 194);
    color: #fff;
    font-weight: 600;
}
.deskTopOption ul.deskTopColor li label {
    cursor: pointer;
}
.deskTopOption ul.deskTopColor li label div {
    width: 110px;
    height: 70px;
    overflow: hidden;
}
.deskTopOption ul.deskTopColor li label div img {
    height: 180%;
}
.deskTopOption ul.deskTopColor li label span {
    display: inline-block;
    width: 90px;
    height: 30px;
    line-height: 30px;
}
.deskTopOption ul.deskTopColor li:nth-child(1) label div {
    background-color: #000;
}
.deskTopOption ul.deskTopColor li:nth-child(2) label div {
    background-color: rgb(241, 241, 241);
}
.deskTopOption ul.deskTopColor li:nth-child(3) label div {
    background-color: rgb(255, 193, 193);
}
/*상판선택 옵션(상판크기)*/
.sizeShape {
    width: 860px;
    display: flex;
    justify-content: space-between;
}
.sizeWrap {
    width: 600px;
}
.shapeWrap {
    width: 205px;
}
.deskTopOption ul.deskTopSize {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.deskTopOption ul.deskTopSize li {
    width: 30%;
    height: 30px;
    background-color: #e4e4e4;
    transition: all 0.3s;
    overflow: hidden;
    border-radius: 10px;
    color: #999;
}
.deskTopOption ul.deskTopSize li:hover {
    background-color: rgb(69, 119, 194);
    color: #fff;
    font-weight: 600;
}
.deskTopOption ul.deskTopSize li span {
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
/*상판선택 옵션(상판모양)*/
.deskTopOption ul.deskTopShape {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.deskTopOption ul.deskTopShape li {
    width: 48%;
    height: 30px;
    background-color: #e4e4e4;
    transition: all 0.3s;
    overflow: hidden;
    border-radius: 10px;
    color: #999;
}
.deskTopOption ul.deskTopShape li:hover {
    background-color: rgb(69, 119, 194);
    color: #fff;
    font-weight: 600;
}
.deskTopOption ul.deskTopShape li span {
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
/*다리색상*/
.deskTopOption ul.deskLegColor {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.deskTopOption ul.deskLegColor li {
    width: 95px;
    height: 100px;
    background-color: #e4e4e4;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
    color: #999;
    transition: all 0.3s;
}
.deskTopOption ul.deskLegColor li:hover {
    background-color: rgb(69, 119, 194);
    color: #fff;
    font-weight: 600;
}
.deskTopOption ul.deskLegColor li label {
    cursor: pointer;
}
.deskTopOption ul.deskLegColor li label div {
    width: 110px;
    height: 70px;
}
.deskTopOption ul.deskLegColor li label span {
    display: inline-block;
    width: 90px;
    height: 30px;
    line-height: 30px;
}
.deskTopOption ul.deskLegColor li:nth-child(1) label div {
    background-color: #000;
}
.deskTopOption ul.deskLegColor li:nth-child(2) label div {
    background-color: rgb(241, 241, 241);
}


#black:checked ~ .deskTopOption .deskTopColor li:nth-child(1) {
    background-color: rgb(69, 119, 194);
    color: #fff;
    font-weight: 900;
}
#white:checked ~ .deskTopOption .deskTopColor li:nth-child(2) {
    background-color: rgb(69, 119, 194);
    color: #fff;
    font-weight: 900;
}
#pink:checked ~ .deskTopOption .deskTopColor li:nth-child(3) {
    background-color: rgb(69, 119, 194);
    color: #fff;
    font-weight: 900;
}
#carbon:checked ~ .deskTopOption .deskTopColor li:nth-child(4) {
    background-color: rgb(69, 119, 194);
    color: #fff;
    font-weight: 900;
}
#sprite:checked ~ .deskTopOption .deskTopColor li:nth-child(5) {
    background-color: rgb(69, 119, 194);
    color: #fff;
    font-weight: 900;
}
#light:checked ~ .deskTopOption .deskTopColor li:nth-child(6) {
    background-color: rgb(69, 119, 194);
    color: #fff;
    font-weight: 900;
}
#dark:checked ~ .deskTopOption .deskTopColor li:nth-child(7) {
    background-color: rgb(69, 119, 194);
    color: #fff;
    font-weight: 900;
}
#walnut:checked ~ .deskTopOption .deskTopColor li:nth-child(8) {
    background-color: rgb(69, 119, 194);
    color: #fff;
    font-weight: 900;
}
#small:checked ~ .deskTopOption .deskTopSize li:nth-child(1) {
    background-color: rgb(69, 119, 194);
    color: #fff;
    font-weight: 900;
}
#middle:checked ~ .deskTopOption .deskTopSize li:nth-child(2) {
    background-color: rgb(69, 119, 194);
    color: #fff;
    font-weight: 900;
}
#large:checked ~ .deskTopOption .deskTopSize li:nth-child(3) {
    background-color: rgb(69, 119, 194);
    color: #fff;
    font-weight: 900;
}
#basic:checked ~ .deskTopOption .deskTopShape li:nth-child(1) {
    background-color: rgb(69, 119, 194);
    color: #fff;
    font-weight: 900;
}
#curve:checked ~ .deskTopOption .deskTopShape li:nth-child(2) {
    background-color: rgb(69, 119, 194);
    color: #fff;
    font-weight: 900;
}
#legBlack:checked ~ .deskTopOption .deskLegColor li:nth-child(1) {
    background-color: rgb(69, 119, 194);
    color: #fff;
    font-weight: 900;
}
#legWhite:checked ~ .deskTopOption .deskLegColor li:nth-child(2) {
    background-color: rgb(69, 119, 194);
    color: #fff;
    font-weight: 900;
}
